[Unit]
Description=Create different tmp files for the software

[Service]
Type=forking
ExecStart=/usr/lib/systemd/scripts/startupFiles

[Install]
WantedBy=multi-user.target