[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
User=alex
ExecStart=/usr/bin/tmux new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=multi-user.target