*.tut
*.autosave
!*.patch
emacs/.emacs.d/image-dired/*
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/ido.last
emacs/.emacs.d/session.*
emacs/.emacs.d/tramp
emacs/.emacs.d/elpa/archives/*
emacs/.emacs.d/url/cache/*
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/solarized-emacs/dev-emacs.d/
emacs/.emacs.d/solarized-emacs/colorlab/
emacs/.emacs.d/solarized-emacs/child-theme-example/
rfc*.txt
cookies
*.data
history
emacs/.emacs.d/eshell/history
*.gpg
*.kbx
emacs/.emacs.d