*.tut
*.autosave
!*.patch
emacs/.emacs.d/image-dired/*
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/ido.last
emacs/.emacs.d/session.*
emacs/.emacs.d/tramp
emacs/.emacs.d/elpa/archives/*
rfc*.txt
cookies
*.data
history
emacs/.emacs.d/eshell/history
*.gpg
*.kbx