#
# set options
#
set const
set autoindent
set casesensitive
set morespace
set multibuffer
set nohelp
set nonewlines
set regexp
set smooth
set tabsize 4
set undo

#
# unset options
#
unset tabstospaces
unset nowrap
unset noconvert
unset historylog
unset backup

