#
# This group is read by the server
#
[mysqld]
datadir = "/home/alex/disk/db"

#
# performance schema configuration
#
performance_schema=OFF

#
# encoding and collation configuration
#
init_connect                = 'SET collation_connection = utf8_general_ci,NAMES utf8'
collation_server            = utf8_general_ci
character_set_server        = utf8
