#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[mysqld]
bind-address = 0.0.0.0
disable_log_bin

[server]
bind-address = 0.0.0.0

[client-server]
bind-address = 0.0.0.0

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

