[Desktop Entry]
Name=Tracker File System Miner
Name[ar]=مُنقِّب نظام الملفات للمُقتفي
Name[as]=ট্ৰেকাৰ ফাইল চিস্টেম মাইনাৰ
Name[bg]=Анализатор на файловата система
Name[bs]=Tragač rudara datotečnog sistema
Name[ca]=Extractor de dades dels fitxers del sistema del Tracker
Name[ca@valencia]=Extractor de dades dels fitxers del sistema del Tracker
Name[cs]=Démon Tracker na dolování dat ze souborového systému
Name[da]=Trackers filsystemindeksering
Name[de]=Tracker Dateisystem-Indizierung
Name[el]=Εξορύκτης αρχείων συστήματος Tracker
Name[en_GB]=Tracker File System Miner
Name[es]=Minero del sistema de archivos de Tracker
Name[et]=Trackeri failisüsteemikaevur
Name[eu]=Tracker fitxategi-sistemaren biltzailea
Name[fr]=Collecteur du système de fichiers de Tracker
Name[gl]=Mineiro do sistema de ficheiros de Tracker
Name[hu]=Tracker fájlrendszer-adatbányász
Name[id]=Penambang Sistem Berkas Tracker
Name[it]=Estrattore di dati dal file system Tracker
Name[ja]=Tracker ファイルシステム採集器
Name[ko]=트래커 파일 시스템 수집기
Name[lt]=„Tracker“ failų sistemos rinkiklis
Name[lv]=Tracker datņu sistēmas racējs
Name[nb]=Tracker filsystemgraver
Name[nl]=Dataminer Tracker-bestandssystemen
Name[pl]=Przeszukiwanie systemu plików programu Tracker
Name[pt]=Analisador do sistema de ficheiros
Name[pt_BR]=Tracker - Minerador do sistema de arquivos
Name[ro]=Miner de date Tracker pentru sistemul de fișiere
Name[ru]=Индексатор файловой системы
Name[sk]=Sledovač dolovača súborového systému
Name[sl]=Podatkovno rudarjenje datotečnega sistema
Name[sr]=Трагачев копач система датотека
Name[sr@latin]=Tragačev kopač sistema datoteka
Name[sv]=Tracker filsystemsinsamlare
Name[uk]=Індексатор файлової системи
Name[zh_CN]=Tracker 文件系统挖掘器
Name[zh_HK]=Tracker 檔案系統礦工
Name[zh_TW]=Tracker 檔案系統礦工
Comment=Crawls and processes files on the file system
Comment[ar]=يزحف ويعالج الملفات في نظام الملفات
Comment[bg]=Индексиране на файловете във файловата система
Comment[bs]=Puže i procesira datoteke na datotečnom sistemu
Comment[ca]=Indexa i processa fitxers del sistema de fitxers
Comment[ca@valencia]=Indexa i processa fitxers del sistema de fitxers
Comment[cs]=Prochází a zpracovává soubory v souborovém systému
Comment[da]=Gennemløber og behandler filer på filsystemet
Comment[de]=Spürt Dateien in Ihrem System auf und verarbeitet diese
Comment[el]=Σαρώνει και επεξεργάζεται αρχεία στο σύστημα αρχείων
Comment[en_GB]=Crawls and processes files on the file system
Comment[es]=Se arrastra y procesa archivos en el sistema de archivos
Comment[et]=Failisüsteemi failide läbivaatus ja töötlemine
Comment[eu]=fitxategi-sistemako fitxategiak indexatzen eta aztertzen ditu
Comment[fr]=Parcourt et analyse les fichiers du système de fichiers
Comment[gl]=Arrástrase e procesa ficheiros no sistema de ficheiros
Comment[hu]=Bejárja és feldolgozza a fájlrendszer fájljait
Comment[id]=Menelusuri dan memroses berkas pada sistem berkas
Comment[it]=Acquisisce dati ed elabora file sul file system
Comment[ja]=ファイルシステム上のファイルを追跡して情報を回収します
Comment[ko]=파일 시스템의 파일을 수집하고 처리합니다
Comment[lt]=Apdoroja failų sistemos failus
Comment[lv]=Apstaigā un apstrādā datnes datņu sistēmā
Comment[nb]=Graver etter og prosesserer filer i filsystemet
Comment[nl]=Doorzoekt en verwerkt bestanden op het bestandssysteem
Comment[pl]=Przeszukuje i przetwarza pliki w systemie plików
Comment[pt]=Procura e processa ficheiros no sistema de ficheiros
Comment[pt_BR]=Captura e processa arquivos no sistema de arquivos
Comment[ro]=Caută și procesează fișiere din sistemul de fișiere
Comment[ru]=Перебирает и обрабатывает файлы в файловой системе
Comment[sk]=Prechádza a spracováva súbory súborového systému
Comment[sl]=Koplje in obdela datoteke datotečnega sistema
Comment[sr]=Попишите и обрадите датотеке на систему датотека
Comment[sr@latin]=Popišite i obradite datoteke na sistemu datoteka
Comment[sv]=Söker av och behandlar filer på filsystemet
Comment[uk]=Перебирає та обробляє файли у файловій системі
Comment[zh_CN]=抓取和处理文件系统上的文件
Comment[zh_HK]=索引並處理檔案系統中的檔案
Comment[zh_TW]=索引並處理檔案系統中的檔案
Icon=
Exec=/usr/libexec/tracker-miner-fs
Terminal=false
Type=Application
Categories=Utility;
X-Meego-Priority=Late
Hidden=true
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Miners
X-GNOME-Bugzilla-Version=1.4.1
