[Desktop Entry]
Name=Tracker User Guides Miner
Name[as]=ট্ৰেকাৰ ব্যৱহাৰকাৰী সহায়িকাসমূহ মাইনাৰ
Name[bg]=Анализатор на потребителските ръководства
Name[bs]=Korisnički Tragac Vodič za Rudar
Name[ca]=Extractor de dades de les guies d'usuari Tracker
Name[ca@valencia]=Extractor de dades de les guies d'usuari Tracker
Name[cs]=Démon Tracker na dolování dat z uživatelských příruček
Name[da]=Trackers brugervejledningsindeksering
Name[de]=Tracker Indizierung von Benutzerhandbüchern
Name[el]=Εξορύκτης οδηγών χρήστη Tracker
Name[es]=Minero de guías de usuario de Tracker
Name[eu]=Tracker-en erabiltzaile-giden biltzailea
Name[fr]=Collecteur des manuels d'utilisation de Tracker
Name[gl]=Mineiro de guías de usuarios de Tracker
Name[hu]=Tracker felhasználói kézikönyv adatbányász
Name[id]=Tracker Penambang Panduan Pengguna
Name[it]=Estrattore di dati dalle guide utente
Name[ko]=트래커 사용자 안내서 수집기
Name[lt]=Tracker naudotojo žinynų rinkiklis
Name[nb]=Tracker datagraver for brukerhåndbøker
Name[pl]=Przeszukiwanie podręczników użytkownika programu Tracker
Name[pt]=Guias do utilizador do analisador
Name[pt_BR]=Tracker - Guias de usuário do minerador
Name[ru]=Индексатор руководств пользователя
Name[sk]=Sledovač dolovača užívateľských príručiek
Name[sl]=Uporabniški vodnik za podatkovno rudarjenje Tracker
Name[sr]=Трагачев копач корисничког упутства
Name[sr@latin]=Tragačev kopač korisničkog uputstva
Name[sv]=Tracker insamlare för användarguider
Name[zh_CN]=Tracker 用户指南挖掘器
Name[zh_HK]=Tracker 使用者指南礦工
Name[zh_TW]=Tracker 使用者指南礦工
Comment=Crawls and processes user guides in shared areas
Comment[bg]=Индексиране на потребителските ръководства в споделените части на файловата система
Comment[bs]=Pretražuje i obrađuje korisničke upute u zajedničkim prostorima
Comment[ca]=Indexa i processa guies d'usuari en àrees compartides
Comment[ca@valencia]=Indexa i processa guies d'usuari en àrees compartides
Comment[cs]=Prochází a zpracovává uživatelské příručky v souborovém systému
Comment[da]=Gennemløber og behandler brugervejledninger i delte områder
Comment[de]=Spürt Benutzerhandbücher in gemeinsam verwendeten Bereichen auf und verarbeitet diese
Comment[el]=Σαρώνει και επεξεργάζεται οδηγούς χρήστη σε κοινόχρηστες περιοχές
Comment[es]=Se arrastra y procesa guías de usuario en áreas compartidas
Comment[eu]=Area partekatuetako crawl eta prozesuen erabiltzaile-gidak
Comment[fr]=Parcourt et analyse les manuels d'utilisation en zones partagées
Comment[gl]=Rastrexa e procesa guías de usuario nas áreas compartidas
Comment[hu]=Bejárja és feldolgozza a felhasználói kézikönyveket a megosztott területeken
Comment[id]=Menelusuri dan memroses panduan pengguna dalam area bersama
Comment[it]=Acquisisce dati ed elabora le guide utente nelle aree condivise
Comment[ko]=공유 영역의 사용자 안내서를 모아 처리합니다
Comment[lt]=Naršo ir apdoroja bendrose vietose esančius naudotojo gidus
Comment[nb]=Graver etter og prosesserer brukerhåndbøker i delte områder
Comment[pl]=Przeszukuje i przetwarza podręczniki użytkownika we współdzielonych obszarach
Comment[pt]=Procura e processa guias de utilizador em áreas partilhadas
Comment[pt_BR]=Captura e processa guias de usuário em áreas compartilhadas
Comment[ru]=Перебирает и обрабатывает руководства в общедоступных местоположениях
Comment[sk]=Prechádza a spracováva užívateľské príručky v sprístupnených oblastiach
Comment[sl]=Koplje in obdela datoteke datotečnega sistema
Comment[sr]=Попишите и обрадите корисничка упутства у дељеним областима
Comment[sr@latin]=Popišite i obradite korisnička uputstva u deljenim oblastima
Comment[sv]=Söker av och behandlar utdelade användarguider
Comment[zh_CN]=抓取和处理共享区中的用户指南
Comment[zh_HK]=索引並處理分享區域中的使用者指南
Comment[zh_TW]=索引並處理分享區域中的使用者指南
Icon=
Exec=/usr/libexec/tracker-miner-user-guides
Terminal=false
Type=Application
Categories=Utility;
X-Meego-Priority=Late
Hidden=true
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;X-MEEGO-HS;X-MEEGO-NB;X-IVI;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Miners
X-GNOME-Bugzilla-Version=1.4.1
