[Desktop Entry]
Name=Tracker Metadata Extractor
Name[as]=ট্ৰেকাৰ মেটাডাটা নিষ্কাষক
Name[bg]=Модул за извличане на метаданни
Name[bs]=Tragač Metadata Ekstraktora
Name[ca]=Extractor de metadades Tracker
Name[ca@valencia]=Extractor de metadades Tracker
Name[cs]=Vytahování metadat pro Tracker
Name[da]=Metadataudtrækker til Tracker
Name[de]=Tracker Metadaten-Entdecker
Name[el]=Εφαρμογή εξαγωγής μεταδεδομένων Tracker
Name[es]=Extractor de metadatos de Tracker
Name[eu]=Tracker meta-datuen erauzlea
Name[fr]=Extracteur de Métadonnées de Tracker
Name[gl]=Metadatos do extractor de Tracker
Name[hu]=Tracker metaadat-kinyerő
Name[id]=Ekstraktor Metadata Tracker
Name[it]=Estrattore di meta-dati Tracker
Name[ko]=트래커 메타데이터 추출기
Name[lt]=Tracker metaduomenų išgavėjas
Name[lv]=Tracker metadatu izvilcējs
Name[nb]=Tracker metadataekstrakt
Name[pl]=Wydobywanie metadanych programu Tracker
Name[pt]=Extrator de metadados do Tracker
Name[pt_BR]=Extrator de metadados do Tracker
Name[ru]=Экстрактор метаданных Tracker
Name[sk]=Nástroj na extrahovanie metaúdajov pre sledovač
Name[sl]=Preučevalnik metapodatkov Tracker
Name[sr]=Трагачев извлачивач метаподатака
Name[sr@latin]=Tragačev izvlačivač metapodataka
Name[sv]=Tracker metadataextraherare
Name[tr]=Tracker Üstveri Ayıklayıcı
Name[uk]=Екстрактор метаданих Tracker
Name[zh_CN]=Tracker 元数据提取工具
Name[zh_HK]=Tracker 元數據解譯器
Name[zh_TW]=Tracker 元數據解譯器
Comment=Extracts metadata from local files
Comment[as]=স্থানীয় ফাইলসমূহৰ পৰা মেটাডাটা নিষ্কাষণ কৰে
Comment[bg]=Извличане на метаданни за локалните файлове
Comment[bs]=Izdvaja metapodataka iz lokalnih datoteka
Comment[ca]=Extrau metadades dels fitxers locals
Comment[ca@valencia]=Extrau metadades dels fitxers locals
Comment[cs]=Vytahuje metadata z místních souborů
Comment[da]=Udtrækker metadata fra lokale filer
Comment[de]=Liest Metadaten aus lokalen Dateien
Comment[el]=Εξάγει μεταδεδομένα από τοπικά αρχεία
Comment[es]=Extrae metadatos de archivos locales
Comment[eu]=Lokaleko fitxategietatik meta-datuak erauzten ditu
Comment[fr]=Extrait les métadonnées des fichiers locaux
Comment[gl]=Extrae os metadatos dos ficheiros locais
Comment[hu]=Metaadatok kinyerése helyi fájlokból
Comment[id]=Ekstrak metadata dari berkas lokal
Comment[it]=Estrae i meta-dati dai file locali
Comment[ko]=로컬 파일에서 메타데이터를 추출합니다
Comment[lt]=Išgauna metaduomenis iš vietinių failų
Comment[lv]=Izvelk metadatus no lokālajām datnēm
Comment[nb]=Henter ut metadata fra lokale filer
Comment[pl]=Wydobywanie metadanych z lokalnych plików
Comment[pt]=Extrai metadados de ficheiros locais
Comment[pt_BR]=Extrai metadados de arquivos locais
Comment[ru]=Извлечь метаданные из локальных файлов
Comment[sk]=Extrahuje metaúdaje z miestnych súborov
Comment[sl]=Preuči metapodatke krajevnih datotek
Comment[sr]=Извуците метаподатке из месних датотека
Comment[sr@latin]=Izvucite metapodatke iz mesnih datoteka
Comment[sv]=Extraherar metadata från lokala filer
Comment[tr]=Yerel dosyalardaki üstveriyi ayıklar
Comment[uk]=Витягнути метадані з локальних файлів
Comment[zh_CN]=从本地文件提示源数据
Comment[zh_HK]=從本地檔案解開元數據
Comment[zh_TW]=從本地檔案解開元數據
Icon=
Exec=/usr/libexec/tracker-extract
Terminal=false
Type=Application
Categories=Utility;
X-Meego-Priority=Late
Hidden=true
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;X-MEEGO-HS;X-MEEGO-NB;X-IVI;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Extractor
X-GNOME-Bugzilla-Version=1.4.1
