[Desktop Entry]
Name=Tracker Application Miner
Name[as]=ট্ৰেকাৰ এপ্লিকেচন মাইনাৰ
Name[bg]=Анализатор на данните от програмите
Name[bs]=Istraživač pratećih aplikacija
Name[ca]=Extractor de dades d'aplicacions Tracker
Name[ca@valencia]=Extractor de dades d'aplicacions Tracker
Name[cs]=Démon Tracker na dolování dat z aplikací
Name[da]=Dataindeksering af programmer
Name[de]=Tracker Indizierung von Anwendungen
Name[el]=Εξορύκτης Tracker
Name[es]=Minero de aplicaciones de Tracker
Name[eu]=Tracker-en aplikazio-biltzailea
Name[fr]=Collecteur d'applications de Tracker
Name[gl]=Mineiro de aplicativos de Tracker
Name[hu]=Tracker alkalmazás-adatbányász
Name[id]=Tracker Penambang Aplikasi
Name[it]=Estrattore di dati dalle applicazioni
Name[ko]=트래커 프로그램 수집기
Name[lt]=Tracker programų rinkiklis
Name[nb]=Tracker datagraver for programmer
Name[pl]=Przeszukiwanie programów programu Tracker
Name[pt]=Analisador de dados de aplicações
Name[pt_BR]=Tracker - Aplicativo de mineração de dados
Name[ru]=Индексатор приложений
Name[sk]=Sledovač dolovača aplikácií
Name[sl]=Tracker program za podatkovno rudarjenje
Name[sr]=Трагачев копач програма
Name[sr@latin]=Tragačev kopač programa
Name[sv]=Tracker programdatainsamlare
Name[tr]=Tracker Uygulama Madencisi
Name[zh_CN]=Tracker 应用程序数据挖掘器
Name[zh_HK]=Tracker 應用程式礦工
Name[zh_TW]=Tracker 應用程式礦工
Comment=Indexes information about applications installed
Comment[as]=ইনস্টল্ড এপ্লিকেচনসমূহৰ তথ্য সূচীত কৰে
Comment[bg]=Индексиране на информация за инсталираните програми
Comment[bs]=Indeksira informacije o aplikacijama koje su instalirane
Comment[ca]=Indexa informació sobre les aplicacions instal·lades
Comment[ca@valencia]=Indexa informació sobre les aplicacions instal·lades
Comment[cs]=Indexuje informace o nainstalovaných aplikacích
Comment[da]=Indekserer information om installerede programmer
Comment[de]=Informationen über installierte Anwendungen indizieren
Comment[el]=Οι πληροφορίες ευρετηρίων για τις εγκατεστημένες εφαρμογές
Comment[es]=Indexa información sobre aplicaciones instaladas
Comment[eu]=Instalatutako aplikazioei buruzko indize-informazioa
Comment[fr]=Indexe les informations relatives aux applications installées
Comment[gl]=Indexa información sobre os aplicativos instalados
Comment[hu]=A telepített alkalmazásokkal kapcsolatos információkat indexel
Comment[id]=Mengindeks informasi tentang aplikasi yang terpasang
Comment[it]=Indicizza informazioni riguardo alle applicazioni installate
Comment[ko]=설치 프로그램 정보를 인덱싱합니다
Comment[lt]=Indeksuoja informaciją apie įdiegtas programas
Comment[nb]=Indekserer informasjon om installerte programmer
Comment[pl]=Indeksuje informacje o zainstalowanych programach
Comment[pt]=Indexa informação acerca de aplicações instaladas
Comment[pt_BR]=Indexa informações a respeito de aplicativos instalados
Comment[ru]=Индексирует информацию об установленных приложениях
Comment[sk]=Indexuje informácie o nainštalovaných aplikáciách
Comment[sl]=Indeksirane podrobnosti o nameščenih programih
Comment[sr]=Попишите податке о инсталираним програмима
Comment[sr@latin]=Popišite podatke o instaliranim programima
Comment[sv]=Indexera information om installerade program
Comment[zh_CN]=索引已经安装的应用程序的信息
Comment[zh_HK]=已安裝應用程式的索引資訊
Comment[zh_TW]=已安裝應用程式的索引資訊
Icon=
Exec=/usr/libexec/tracker-miner-apps
Terminal=false
Type=Application
Categories=Utility;
X-Meego-Priority=Late
Hidden=true
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;X-MEEGO-HS;X-MEEGO-NB;X-IVI;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Miners
X-GNOME-Bugzilla-Version=1.4.1
